<div class="col-sm-6 col-md-12">
    <div class="card">
        <div class="card-title">
            Links
        </div>
        <div class="card-body">
            <ul>
                <li><a class="blue-link" href="/about-us/">About Us</a></li>
                <li><a class="blue-link" href="/about-us/#CEO-Story">Kathryn Parks, CEO – Story</a></li>
                <li><a class="blue-link" href="/#Our-Services">Our Services</a></li>
                <li><a class="blue-link" href="/testimonials/">Testimonials</a></li>
                <li><a class="blue-link" href="/#Schedule-Consultation">Schedule A Free Consultation</a></li>
                <li><a class="blue-link" href="/job-application/">Job Application</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-12">
    <div class="card">
        <div class="card-title">
            Follow Us 
            <div class="social">
                <ul>
                    <li>
                        <a class="pull-left" target="_blank" href="{{ site.social.google }}"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a class="pull-left" target="_blank" href="{{ site.social.facebook }}"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="pull-left" target="_blank" href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="pull-left" target="_blank" href="/feed/"><i class="fa fa-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-default twitter-btn" title="Follow @HomecareHoward on Twitter" target="_blank" href="https://twitter.com/intent/follow?original_referer={{ site.url | append: page.url | URLEncode }}&amp;region=follow_link&amp;screen_name=HomecareHoward&amp;tw_p=followbutton">
                <span class="fa fa-lg fa-twitter"></span> Follow @HomecareHoward
            </a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-12">
    <div class="card">
        <div class="card-title">
            Visit Us
        </div>
        <div class="card-body">
            <div itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="profileInfoContainer addressLink">
                
                <a href="/contact-us/#map" class="blue-link" title="View map">
                    <span class="fa fa-map-marker fa-3x pull-left" style="color: #dd5d2e;"></span>

                    <div style="line-height: 1.25;">
                        <span itemprop="street-address">9030 Red Branch Road</span>,<br>
                        <span itemprop="street-address">Suite 110</span>,<br>
                        <span itemprop="locality">Columbia</span>, 
                        <span itemprop="region"> MD </span> 
                        <span itemprop="postal-code">21045</span>
                    </div>
                </a>
            </div>

            <span style="display:none;" itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
                <meta itemprop="latitude" content="39.22843"/>
                <meta itemprop="longitude" content="-76.818502"/>
            </span>
        </div>
    </div>
</div>


<div class="col-sm-6 col-md-12">
    <div class="card">
        <div class="card-body">
            <em>{{ site.description }}</em>
        </div>
    </div>
</div>

